version: '3.9'

services:
  postgres:
    image: postgres:15
    container_name: postgres_container
    restart: always
    environment:
      POSTGRES_USER: "admin"
      POSTGRES_PASSWORD: "admin"
      POSTGRES_DB: "chatbot"
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - backend-network

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin_container
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: "admin@admin.com"
      PGADMIN_DEFAULT_PASSWORD: "admin"
    ports:
      - "8080:80"
    depends_on:
      - postgres
    networks:
      - backend-network

  evolution-api:
    image: evoapicloud/evolution-api
    container_name: evolution_api
    restart: always
    ports:
      - "8081:8080"
    env_file:
      - .env.evolution
    volumes:
      - evolution_store:/evolution/store
      - evolution_instances:/evolution/instances
    depends_on:
      - evolution-rabbitmq
    networks:
      - backend-network

  evolution-rabbitmq:
    image: rabbitmq:3-management
    container_name: evolution_rabbitmq
    restart: always
    environment:
      RABBITMQ_DEFAULT_USER: evolution
      RABBITMQ_DEFAULT_PASS: evolution
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - evolution_rabbitmq_data:/var/lib/rabbitmq
    networks:
      - backend-network

networks:
  backend-network:
    driver: bridge

volumes:
  postgres_data:
  evolution_store:
  evolution_instances:
  evolution_rabbitmq_data: